@use '../../partials/globals.scss' as *;


.search-form{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    gap: 0.5rem;
}

.search-input{
    padding: 0.5rem;
    border: none;
    border-radius: 1.5rem;
    @include tablet{
        width: 35%;
    }
}

.search-button{
    border: none;
    border-radius: 1.5rem;
    padding: 0.5rem;
    font-family: "Roboto";
    @include tablet{
        width: 10%;
    }
    
}

.movies-grid{
    @include tablet{
        display: flex;
        flex-wrap: wrap;
    }
}

// @media (min-width: 768px ){
//     .movies-grid{
//         display: flex;
//         flex-wrap: wrap;
//     }
// }