.search-form{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    gap: 0.5rem;
}

.search-input{
    padding: 0.5rem;
    border: none;
    border-radius: 1.5rem;
}

.search-button{
    border: none;
    border-radius: 1.5rem;
    padding: 0.5rem;
    font-family: "Roboto";
}

